In [15]:
file_path = "/Users/alexanderprinz/Downloads/csv_exports/crawler_v2.csv"
crawler = pd.read_csv(file_path)
display(crawler.info())
#print(crawler.head(20))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103548 entries, 0 to 103547
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   level_0          103548 non-null  int64
 1   index            103548 non-null  int64
 2   industryId       103548 non-null  int64
 3   logo             4746 non-null    object
 4   name             103548 non-null  object
 5   uuid             103548 non-null  object
 6   searchImage      4123 non-null    object
 7   slug             103548 non-null  object
 8   isTopCompany     103548 non-null  int64
 9   totalJobs        103548 non-null  int64
 10  totalReviews     103486 non-null  float64
 11  isVerified       103548 non-null  int64
 12  city             103532 non-null  object
 13  countryCode      103548 non-null  object
 14  value            103486 non-null  float64
 15  rounded          103486 non-null  float64
 16  company_name     103548 non-null  object
 17  company_idnr     103548 non-null  object
 18  query_url        103547 non-null  object
 19  kununu_basename  103518 non-null  object
 20  bvd_basename     103518 non-null  object
dtypes: float64(3), int64(6), object(12)
memory usage: 16.6+ MB

None

In [32]:
display(crawler["uuid"])
display(crawler[crawler['name'] == 'UNIVERSAL MUSIC GMBH'])

0         e9ffbe56-0640-40d1-b060-51ca1a973aec
1         5fa7af3f-3c14-4b24-a3f4-6f55f4e000a6
2         a7cb635a-9901-4a6a-96c0-5c92bd5ab1a6
3         161e855e-fcf8-443f-a30c-8d33bbd4c9ee
4         4d869b3e-acea-4e92-b249-3241937d02bc
                          ...
103543    a518d661-03d5-48e3-bd95-51e01959dea7
103544    80f425be-4171-43d8-871f-04dd48a0c278
103545    1dfb38d6-f8e9-4cd4-935c-96c36b9dab8b
103546    8c3d160c-2bcb-4d1e-947f-5b8fe7010536
103547    49d3f79c-2475-4cf7-a49b-fc05df1ee332
Name: uuid, Length: 103548, dtype: object

,level_0,index,industryId,logo,name,uuid,searchImage,slug,isTopCompany,totalJobs,...,isVerified,city,countryCode,value,rounded,company_name,company_idnr,query_url,kununu_basename,bvd_basename
2,32,1,29,NaN,UNIVERSAL MUSIC GMBH,a7cb635a-9901-4a6a-96c0-5c92bd5ab1a6,NaN,universal-music4,0,0,...,0,Wien,at,2.9,3.0,UNIVERSAL MUSIC GMBH,CHCHE109952083,UNIVERSAL%20MUSIC,universal music,universal music
71427,530567,1,29,NaN,UNIVERSAL MUSIC GMBH,a7cb635a-9901-4a6a-96c0-5c92bd5ab1a6,NaN,universal-music4,0,0,...,0,Wien,at,2.9,3.0,UNIVERSAL MUSIC GMBH,AT9110298673,UNIVERSAL%20MUSIC,universal music,universal music
103265,640246,1,29,NaN,UNIVERSAL MUSIC GMBH,a7cb635a-9901-4a6a-96c0-5c92bd5ab1a6,NaN,universal-music4,0,0,...,0,Wien,at,2.9,3.0,UNIVERSAL MUSIC GMBH,DE5190786182,UNIVERSAL%20MUSIC,universal music,universal music

In [19]:
search_value = "b9658ec6-80d1-463d-9533-da212c6ee92c"

if search_value in crawler["uuid"]:
    print(f"{search_value} was found in the list.")
else:
    print(f"{search_value} was not found in the list.")

b9658ec6-80d1-463d-9533-da212c6ee92c was not found in the list.