In [10]:
import pandas as pd

file_path = "/Users/alexanderprinz/Downloads/financials.feather"
findata = pd.read_feather(file_path)
print(findata.info())
print(findata.head(20))

display(findata)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438957 entries, 0 to 2438956
Columns: 135 entries, index to bvd_table
dtypes: float64(87), int64(1), object(47)
memory usage: 2.5+ GB
None
    index          idnr currency nat_prim_code nace_prim_code naics_core_code  \
0       0  AT9130090333      EUR        P85320           8532            6111
1       1  AT9010000033      EUR        L68209           6820            5311
2       2  AT9010000033      EUR        L68209           6820            5311
3       3  AT9010000033      EUR        L68209           6820            5311
4       4  AT9010000033      EUR        L68209           6820            5311
5       5  AT9010000033      EUR        L68209           6820            5311
6       6  AT9010000033      EUR        L68209           6820            5311
7       7  AT9010000033      EUR        L68209           6820            5311
8       8  AT9010000033      EUR        L68209           6820            5311
9       9  AT9010000155      EUR        G45190           4519            4231
10     10  AT9010000155      EUR        G45190           4519            4231
11     11  AT9010000155      EUR        G45190           4519            4231
12     12  AT9010000155      EUR        G45190           4519            4231
13     13  AT9010000155      EUR        G45190           4519            4231
14     14  AT9010000155      EUR        G45190           4519            4231
15     15  AT9010000155      EUR        G45190           4519            4231
16     16  AT9010000155      EUR        G45190           4519            4231
17     17  AT9010000166      EUR        C13910           1391            3132
18     18  AT9010000166      EUR        C13910           1391            3132
19     19  AT9010000166      EUR        C13910           1391            3132

   ussic_core_code sd_isin sd_sedol sd_ticker  ...   solr    gear   ppe  \
0              821    None     None      None  ...    NaN     NaN   NaN
1              651    None     None      None  ...  67.48     NaN   NaN
2              651    None     None      None  ...  67.99     NaN   NaN
3              651    None     None      None  ...  76.45     NaN   NaN
4              651    None     None      None  ...  80.01     NaN   NaN
5              651    None     None      None  ...  45.12     NaN  20.0
6              651    None     None      None  ...  48.60  105.76  10.0
7              651    None     None      None  ...  47.08   95.49  17.0
8              651    None     None      None  ...  73.92     NaN   NaN
9              501    None     None      None  ...  14.16     NaN   NaN
10             501    None     None      None  ...  15.34     NaN   NaN
11             501    None     None      None  ...  17.47     NaN   NaN
12             501    None     None      None  ...  28.29  140.36   NaN
13             501    None     None      None  ...  22.27  212.99   NaN
14             501    None     None      None  ...  19.92  238.00   NaN
15             501    None     None      None  ...  19.75  142.47   NaN
16             501    None     None      None  ...  24.07     NaN   NaN
17             225    None     None      None  ...  24.04     NaN   NaN
18             225    None     None      None  ...  20.52     NaN   NaN
19             225    None     None      None  ...  16.78  491.44   NaN

      tpe    sct   ace    sfpe  wcpe    tape  bvd_table
0     NaN    NaN   NaN     NaN   NaN     NaN  amadeus_m
1     NaN    NaN   NaN     NaN   NaN     NaN  amadeus_m
2     NaN    NaN   NaN  6322.0   NaN  9298.0  amadeus_m
3     NaN    NaN   NaN  5671.0   NaN  7419.0  amadeus_m
4     NaN    NaN   NaN     NaN   NaN     NaN  amadeus_m
5   146.0  34.94  51.0   162.0   NaN   360.0  amadeus_m
6     NaN    NaN  56.0   169.0  60.0   348.0  amadeus_m
7     NaN    NaN  59.0   175.0  90.0   371.0  amadeus_m
8     NaN    NaN   NaN  5465.0   NaN  7393.0  amadeus_m
9     NaN    NaN   NaN     NaN   NaN     NaN  amadeus_m
10  178.0    NaN   NaN    10.0   NaN    68.0  amadeus_m
11   70.0    NaN   NaN     5.0   NaN    27.0  amadeus_m
12  185.0    NaN   NaN    16.0  15.0    55.0  amadeus_m
13  215.0    NaN   NaN    19.0  30.0    83.0  amadeus_m
14  205.0    NaN   NaN    18.0  23.0    91.0  amadeus_m
15    NaN    NaN   NaN    17.0  32.0    87.0  amadeus_m
16    NaN    NaN   NaN    24.0   NaN   101.0  amadeus_m
17    NaN  57.40   NaN     NaN   NaN     NaN  amadeus_m
18    NaN  62.48   NaN     NaN   NaN     NaN  amadeus_m
19    NaN    NaN   NaN     NaN   NaN     NaN  amadeus_m

[20 rows x 135 columns]

,index,idnr,currency,nat_prim_code,nace_prim_code,naics_core_code,ussic_core_code,sd_isin,sd_sedol,sd_ticker,...,solr,gear,ppe,tpe,sct,ace,sfpe,wcpe,tape,bvd_table
0,0,AT9130090333,EUR,P85320,8532,6111,821,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,amadeus_m
1,1,AT9010000033,EUR,L68209,6820,5311,651,None,None,None,...,67.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,amadeus_m
2,2,AT9010000033,EUR,L68209,6820,5311,651,None,None,None,...,67.99,NaN,NaN,NaN,NaN,NaN,6322.0,NaN,9298.0,amadeus_m
3,3,AT9010000033,EUR,L68209,6820,5311,651,None,None,None,...,76.45,NaN,NaN,NaN,NaN,NaN,5671.0,NaN,7419.0,amadeus_m
4,4,AT9010000033,EUR,L68209,6820,5311,651,None,None,None,...,80.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,amadeus_m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438952,94938,DE8350148522,EUR,C10000,1000,311,200,None,None,None,...,89.02,5.69,223.0,NaN,NaN,48.0,611.0,13.0,687.0,amadeus_v
2438953,94939,DE8350148522,EUR,C10000,1000,311,200,None,None,None,...,88.37,4.86,287.0,704.0,6.82,48.0,721.0,11.0,816.0,amadeus_v
2438954,94940,DE8350148522,EUR,C10000,1000,311,200,None,None,None,...,78.71,16.55,341.0,795.0,6.09,48.0,352.0,21.0,448.0,amadeus_v
2438955,94941,DE8350148522,EUR,C10000,1000,311,200,None,None,None,...,81.36,16.02,406.0,919.0,5.53,51.0,610.0,37.0,750.0,amadeus_v
2438956,94942,DE8350148522,EUR,C10000,1000,311,200,None,None,None,...,84.90,12.53,561.0,1129.0,5.03,57.0,966.0,36.0,1138.0,amadeus_v

In [12]:
reviews = pd.read_csv("reviews.csv")
unique_company_IDs_20K = reviews['company_uuid'].unique()

In [13]:
findata["company_uuid"]

KeyError: 'company_uuid'

In [20]:
columns_to_correlate = findata.iloc[:, 56:-1]
display(columns_to_correlate)

,fias,ifas,tfas,ofas,cuas,stok,debt,ocas,cash,toas,...,shlq,solr,gear,ppe,tpe,sct,ace,sfpe,wcpe,tape
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8248509.0,64987.0,6393482.0,1790040.0,993076.0,0.0,0.0,993076.0,295860.0,9241586.0,...,2.08,67.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8096843.0,43325.0,6263478.0,1790040.0,1201506.0,0.0,0.0,1201506.0,631984.0,9298349.0,...,2.12,67.99,NaN,NaN,NaN,NaN,NaN,6322.0,NaN,9298.0
3,6663558.0,0.0,5130694.0,1532864.0,755000.0,0.0,0.0,755000.0,183739.0,7418557.0,...,3.25,76.45,NaN,NaN,NaN,NaN,NaN,5671.0,NaN,7419.0
4,6545364.0,86650.0,4904674.0,1554040.0,904014.0,0.0,0.0,904014.0,231555.0,7449378.0,...,4.00,80.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438952,34003895.0,2960.0,4870068.0,29130866.0,15424875.0,936234.0,0.0,14488641.0,6370839.0,49428770.0,...,17.58,89.02,5.69,223.0,NaN,NaN,48.0,611.0,13.0,687.0
2438953,38514154.0,5541.0,5069816.0,33438797.0,30808150.0,976405.0,1741017.0,28090728.0,20078009.0,69322304.0,...,20.60,88.37,4.86,287.0,704.0,6.82,48.0,721.0,11.0,816.0
2438954,25528939.0,98263.0,6829689.0,18600987.0,21032711.0,1366753.0,2619266.0,17046692.0,15864343.0,46561650.0,...,6.04,78.71,16.55,341.0,795.0,6.09,48.0,352.0,21.0,448.0
2438955,53395718.0,55864.0,10484064.0,42855790.0,32813897.0,1436115.0,3413019.0,27964763.0,26573465.0,86209615.0,...,6.24,81.36,16.02,406.0,919.0,5.53,51.0,610.0,37.0,750.0
2438956,75081918.0,11383.0,10074429.0,64996107.0,60382891.0,2217223.0,3364769.0,54800899.0,52143518.0,135464809.0,...,7.98,84.90,12.53,561.0,1129.0,5.03,57.0,966.0,36.0,1138.0